/****** Oggetto: Table [Anagrafiche].[GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Anagrafiche].[GRC1_2024](
	[Id] [nvarchar](500) NULL,
	[PlayerName] [nvarchar](500) NULL,
	[NormalizedPlayerName] [nvarchar](500) NULL,
	[TeamName] [nvarchar](500) NULL,
	[Nat] [nvarchar](500) NULL,
	[BirthDate] [nvarchar](500) NULL,
	[Cm] [nvarchar](500) NULL,
	[Weight] [nvarchar](500) NULL,
	[Pos] [nvarchar](500) NULL,
	[ShirtNumber] [nvarchar](500) NULL,
	[IdGlobal] [nvarchar](500) NULL,
	[DoubleTeam] [nvarchar](500) NULL,
	[Nat2] [nvarchar](500) NULL,
	[ShirtNumberDouble] [nvarchar](500) NULL,
	[Searched] [bit] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [Anagrafiche].[ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Anagrafiche].[ITA1_2024](
	[Id] [nvarchar](500) NULL,
	[PlayerName] [nvarchar](500) NULL,
	[NormalizedPlayerName] [nvarchar](500) NULL,
	[TeamName] [nvarchar](500) NULL,
	[Nat] [nvarchar](500) NULL,
	[BirthDate] [nvarchar](500) NULL,
	[Cm] [nvarchar](500) NULL,
	[Weight] [nvarchar](500) NULL,
	[Pos] [nvarchar](500) NULL,
	[ShirtNumber] [nvarchar](500) NULL,
	[IdGlobal] [nvarchar](500) NULL,
	[DoubleTeam] [nvarchar](500) NULL,
	[Nat2] [nvarchar](500) NULL,
	[ShirtNumberDouble] [nvarchar](500) NULL,
	[Searched] [bit] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [Anagrafiche].[Team_GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Anagrafiche].[Team_GRC1_2024](
	[Id] [nvarchar](500) NULL,
	[TeamName] [nvarchar](500) NULL,
	[ShortName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [Anagrafiche].[Team_ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Anagrafiche].[Team_ITA1_2024](
	[Id] [bigint] NULL,
	[TeamName] [nvarchar](500) NULL,
	[ShortName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStats_Clutch_ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStats_Clutch_ITA1_2024](
	[Id] [varchar](max) NULL,
	[Pts] [real] NULL,
	[Fg2m] [smallint] NULL,
	[Fg2a] [smallint] NULL,
	[Fg3m] [smallint] NULL,
	[Fg3a] [smallint] NULL,
	[Ftm] [smallint] NULL,
	[Fta] [smallint] NULL,
	[Ast] [smallint] NULL,
	[Orb] [smallint] NULL,
	[Drb] [smallint] NULL,
	[Stl] [smallint] NULL,
	[Blk] [smallint] NULL,
	[Tov] [smallint] NULL,
	[ClutchGames] [bigint] NULL,
	[FgPct] [float] NULL,
	[Fg2Pct] [float] NULL,
	[Fg3Pct] [float] NULL,
	[FtPct] [float] NULL,
	[EfgPct] [float] NULL,
	[TsPct] [float] NULL,
	[Ftr] [float] NULL,
	[ThreePAr] [float] NULL,
	[AstToTovRatio] [float] NULL,
	[ORtg] [real] NULL,
	[DRtg] [real] NULL,
	[NetRtg] [real] NULL,
	[Competition] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStats_Lineups_Quarter_GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStats_Lineups_Quarter_GRC1_2024](
	[Lineup] [varchar](max) NULL,
	[Competition] [varchar](max) NULL,
	[Quarter] [varchar](max) NULL,
	[Pts] [real] NULL,
	[Fg2m] [float] NULL,
	[Fg2a] [float] NULL,
	[Fg3m] [float] NULL,
	[Fg3a] [float] NULL,
	[Ftm] [float] NULL,
	[Fta] [float] NULL,
	[Orb] [float] NULL,
	[Ast] [float] NULL,
	[Tov] [float] NULL,
	[Drb] [float] NULL,
	[Stl] [float] NULL,
	[Blk] [float] NULL,
	[FtaAnd1] [float] NULL,
	[Games] [float] NULL,
	[PtsAllowed] [real] NULL,
	[OppFg2m] [float] NULL,
	[OppFg2a] [float] NULL,
	[OppFg3m] [float] NULL,
	[OppFg3a] [float] NULL,
	[OppFtm] [float] NULL,
	[OppFta] [float] NULL,
	[OppOrb] [float] NULL,
	[OppDrb] [float] NULL,
	[OppStl] [float] NULL,
	[OppBlk] [float] NULL,
	[OppTov] [float] NULL,
	[OppAst] [float] NULL,
	[OppFtaAnd1] [float] NULL,
	[Fgm] [float] NULL,
	[Fga] [float] NULL,
	[OppFgm] [float] NULL,
	[OppFga] [float] NULL,
	[OffPoss] [float] NULL,
	[DefPoss] [float] NULL,
	[FgPct] [float] NULL,
	[Fg2Pct] [float] NULL,
	[Fg3Pct] [float] NULL,
	[FtPct] [float] NULL,
	[EfgPct] [float] NULL,
	[TsPct] [float] NULL,
	[Ftr] [float] NULL,
	[ThreePAr] [float] NULL,
	[TovPct] [float] NULL,
	[AstPct] [float] NULL,
	[OrbPct] [float] NULL,
	[DrbPct] [float] NULL,
	[ORtg] [float] NULL,
	[OppFgPct] [float] NULL,
	[OppFg3Pct] [float] NULL,
	[OppEfgPct] [float] NULL,
	[OppTsPct] [float] NULL,
	[OppFtr] [float] NULL,
	[OppTovPct] [float] NULL,
	[StlPct] [float] NULL,
	[BlkPct] [float] NULL,
	[DRtg] [float] NULL,
	[NetRtg] [float] NULL,
	[PlusMinus] [real] NULL,
	[PctPtsFrom3] [float] NULL,
	[PctPtsFrom2] [float] NULL,
	[PctPtsFromFt] [float] NULL,
	[Fg3Rate] [float] NULL,
	[TrueOrbPct] [float] NULL,
	[TrueDrbPct] [float] NULL,
	[OppOrbPct] [float] NULL,
	[OppDrbPct] [float] NULL,
	[AstToTovRatio] [float] NULL,
	[AstRatioDO] [float] NULL,
	[AstFreq] [float] NULL,
	[TsAdv] [float] NULL,
	[EfgAdv] [float] NULL,
	[RtgRatio] [float] NULL,
	[NetPossRatio] [float] NULL,
	[PtsPerGame] [float] NULL,
	[PtsAllowedPerGame] [float] NULL,
	[PossPerGame] [float] NULL,
	[AstPerGame] [float] NULL,
	[TovPerGame] [float] NULL,
	[RebPerGame] [float] NULL,
	[StlPerGame] [float] NULL,
	[BlkPerGame] [float] NULL,
	[FourFactorsOff] [float] NULL,
	[FourFactorsDef] [float] NULL,
	[FourFactorsAdv] [float] NULL,
	[LineupPIE] [float] NULL,
	[MinutesPlayed] [real] NULL,
	[PtsPer36] [real] NULL,
	[PtsAllowedPer36] [real] NULL,
	[AstPer36] [float] NULL,
	[TovPer36] [float] NULL,
	[OrbPer36] [float] NULL,
	[DrbPer36] [float] NULL,
	[StlPer36] [float] NULL,
	[BlkPer36] [float] NULL,
	[Pace] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStats_Lineups_Quarter_ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStats_Lineups_Quarter_ITA1_2024](
	[Lineup] [varchar](max) NULL,
	[Competition] [varchar](max) NULL,
	[Quarter] [varchar](max) NULL,
	[Pts] [float] NULL,
	[Fg2m] [float] NULL,
	[Fg2a] [float] NULL,
	[Fg3m] [float] NULL,
	[Fg3a] [float] NULL,
	[Ftm] [float] NULL,
	[Fta] [float] NULL,
	[Orb] [float] NULL,
	[Ast] [float] NULL,
	[Tov] [float] NULL,
	[Drb] [float] NULL,
	[Stl] [float] NULL,
	[Blk] [float] NULL,
	[FtaAnd1] [float] NULL,
	[Games] [float] NULL,
	[PtsAllowed] [real] NULL,
	[OppFg2m] [float] NULL,
	[OppFg2a] [float] NULL,
	[OppFg3m] [float] NULL,
	[OppFg3a] [float] NULL,
	[OppFtm] [float] NULL,
	[OppFta] [float] NULL,
	[OppOrb] [float] NULL,
	[OppDrb] [float] NULL,
	[OppStl] [float] NULL,
	[OppBlk] [float] NULL,
	[OppTov] [float] NULL,
	[OppAst] [float] NULL,
	[OppFtaAnd1] [float] NULL,
	[Fgm] [float] NULL,
	[Fga] [float] NULL,
	[OppFgm] [float] NULL,
	[OppFga] [float] NULL,
	[OffPoss] [float] NULL,
	[DefPoss] [float] NULL,
	[FgPct] [float] NULL,
	[Fg2Pct] [float] NULL,
	[Fg3Pct] [float] NULL,
	[FtPct] [float] NULL,
	[EfgPct] [float] NULL,
	[TsPct] [float] NULL,
	[Ftr] [float] NULL,
	[ThreePAr] [float] NULL,
	[TovPct] [float] NULL,
	[AstPct] [float] NULL,
	[OrbPct] [float] NULL,
	[DrbPct] [float] NULL,
	[ORtg] [float] NULL,
	[OppFgPct] [float] NULL,
	[OppFg3Pct] [float] NULL,
	[OppEfgPct] [float] NULL,
	[OppTsPct] [float] NULL,
	[OppFtr] [float] NULL,
	[OppTovPct] [float] NULL,
	[StlPct] [float] NULL,
	[BlkPct] [float] NULL,
	[DRtg] [float] NULL,
	[NetRtg] [float] NULL,
	[PlusMinus] [float] NULL,
	[PctPtsFrom3] [float] NULL,
	[PctPtsFrom2] [float] NULL,
	[PctPtsFromFt] [float] NULL,
	[Fg3Rate] [float] NULL,
	[TrueOrbPct] [float] NULL,
	[TrueDrbPct] [float] NULL,
	[OppOrbPct] [float] NULL,
	[OppDrbPct] [float] NULL,
	[AstToTovRatio] [float] NULL,
	[AstRatioDO] [float] NULL,
	[AstFreq] [float] NULL,
	[TsAdv] [float] NULL,
	[EfgAdv] [float] NULL,
	[RtgRatio] [float] NULL,
	[NetPossRatio] [float] NULL,
	[PtsPerGame] [float] NULL,
	[PtsAllowedPerGame] [float] NULL,
	[PossPerGame] [float] NULL,
	[AstPerGame] [float] NULL,
	[TovPerGame] [float] NULL,
	[RebPerGame] [float] NULL,
	[StlPerGame] [float] NULL,
	[BlkPerGame] [float] NULL,
	[FourFactorsOff] [float] NULL,
	[FourFactorsDef] [float] NULL,
	[FourFactorsAdv] [float] NULL,
	[LineupPIE] [float] NULL,
	[MinutesPlayed] [real] NULL,
	[PtsPer36] [float] NULL,
	[PtsAllowedPer36] [real] NULL,
	[AstPer36] [float] NULL,
	[TovPer36] [float] NULL,
	[OrbPer36] [float] NULL,
	[DrbPer36] [float] NULL,
	[StlPer36] [float] NULL,
	[BlkPer36] [float] NULL,
	[Pace] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStats_Player_GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStats_Player_GRC1_2024](
	[Id] [varchar](max) NULL,
	[2Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[3Fgm] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[Ftm] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Tr] [bigint] NULL,
	[Ast] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Blk] [bigint] NULL,
	[To] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Pts] [bigint] NULL,
	[Min] [bigint] NULL,
	[Games] [bigint] NULL,
	[ValLega] [bigint] NULL,
	[Rf] [bigint] NULL,
	[Starts] [bigint] NULL,
	[Fg2Pct] [float] NULL,
	[Fg3Pct] [float] NULL,
	[FtPct] [float] NULL,
	[TsPct] [float] NULL,
	[EfgPct] [float] NULL,
	[TovPct] [float] NULL,
	[Ftr] [float] NULL,
	[AstPct] [float] NULL,
	[StlPct] [float] NULL,
	[BlkPct] [float] NULL,
	[UsgPct] [float] NULL,
	[TusgPct] [float] NULL,
	[Ar] [float] NULL,
	[RebPct] [float] NULL,
	[OrebPct] [float] NULL,
	[DrebPct] [float] NULL,
	[Pie] [float] NULL,
	[ThreePAr] [float] NULL,
	[ORtg] [real] NULL,
	[DRtg] [real] NULL,
	[NetRtg] [real] NULL,
	[Ws] [float] NULL,
	[OWS] [float] NULL,
	[DWS] [float] NULL,
	[GmSc] [float] NULL,
	[Fic] [float] NULL,
	[AstRatio] [float] NULL,
	[ScoringEfficiency] [float] NULL,
	[Ppsa] [float] NULL,
	[HustleIndex] [bigint] NULL,
	[FoulDrawingRate] [float] NULL,
	[RfPerGame] [float] NULL,
	[ValLegaPerGame] [float] NULL,
	[PtsPer40] [float] NULL,
	[AstPer40] [float] NULL,
	[TrPer40] [float] NULL,
	[StlPer40] [float] NULL,
	[BlkPer40] [float] NULL,
	[ToPer40] [float] NULL,
	[Position] [varchar](max) NULL,
	[Age] [bigint] NULL,
	[Bpm] [float] NULL,
	[Vorp] [float] NULL,
	[Spm] [float] NULL,
	[RaptorOff] [float] NULL,
	[RaptorDef] [float] NULL,
	[RaptorTotal] [float] NULL,
	[LebronOff] [float] NULL,
	[LebronDef] [float] NULL,
	[LebronTotal] [float] NULL,
	[OBpm] [float] NULL,
	[DBpm] [float] NULL,
	[Competition] [varchar](max) NULL,
	[LeagueConfig] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStats_Player_GRC1_2024_Game]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStats_Player_GRC1_2024_Game](
	[Id] [varchar](max) NULL,
	[Sf] [varchar](max) NULL,
	[Min] [bigint] NULL,
	[Pts] [bigint] NULL,
	[2Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[2P] [float] NULL,
	[3Fgm] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[3P] [float] NULL,
	[Ftm] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Ft] [float] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Tr] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Rf] [bigint] NULL,
	[To] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Ast] [bigint] NULL,
	[Blk] [bigint] NULL,
	[ValLega] [bigint] NULL,
	[PlusMinus] [float] NULL,
	[Game] [varchar](max) NULL,
	[TeamId] [varchar](max) NULL,
	[IsHome] [bit] NULL,
	[Competition] [varchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[Fg2Pct] [float] NULL,
	[Fg3Pct] [float] NULL,
	[FtPct] [float] NULL,
	[TsPct] [float] NULL,
	[EfgPct] [float] NULL,
	[TovPct] [float] NULL,
	[Ftr] [float] NULL,
	[AstPct] [float] NULL,
	[StlPct] [float] NULL,
	[BlkPct] [float] NULL,
	[Ar] [float] NULL,
	[RebPct] [float] NULL,
	[OrebPct] [float] NULL,
	[DrebPct] [float] NULL,
	[Pie] [float] NULL,
	[ThreePAr] [float] NULL,
	[Ws] [float] NULL,
	[OWS] [float] NULL,
	[DWS] [float] NULL,
	[GmSc] [float] NULL,
	[Fic] [bigint] NULL,
	[AstRatio] [float] NULL,
	[ScoringEfficiency] [float] NULL,
	[Ppsa] [float] NULL,
	[HustleIndex] [bigint] NULL,
	[FoulDrawingRate] [float] NULL,
	[PtsPer40] [float] NULL,
	[AstPer40] [float] NULL,
	[TrPer40] [float] NULL,
	[StlPer40] [float] NULL,
	[BlkPer40] [float] NULL,
	[ToPer40] [float] NULL,
	[Position] [varchar](max) NULL,
	[Age] [bigint] NULL,
	[Bpm] [float] NULL,
	[Vorp] [float] NULL,
	[Spm] [float] NULL,
	[RaptorOff] [float] NULL,
	[RaptorDef] [float] NULL,
	[RaptorTotal] [float] NULL,
	[LebronOff] [float] NULL,
	[LebronDef] [float] NULL,
	[LebronTotal] [float] NULL,
	[UsgPct] [float] NULL,
	[TusgPct] [float] NULL,
	[ORtg] [real] NULL,
	[DRtg] [real] NULL,
	[NetRtg] [real] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStats_Player_ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStats_Player_ITA1_2024](
	[Id] [varchar](max) NULL,
	[2Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[3Fgm] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[Ftm] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Tr] [bigint] NULL,
	[Ast] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Blk] [bigint] NULL,
	[To] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Pts] [bigint] NULL,
	[Min] [bigint] NULL,
	[Games] [bigint] NULL,
	[ValLega] [bigint] NULL,
	[Rf] [bigint] NULL,
	[Starts] [bigint] NULL,
	[Fg2Pct] [float] NULL,
	[Fg3Pct] [float] NULL,
	[FtPct] [float] NULL,
	[TsPct] [float] NULL,
	[EfgPct] [float] NULL,
	[TovPct] [float] NULL,
	[Ftr] [float] NULL,
	[AstPct] [float] NULL,
	[StlPct] [float] NULL,
	[BlkPct] [float] NULL,
	[UsgPct] [float] NULL,
	[TusgPct] [float] NULL,
	[Ar] [float] NULL,
	[RebPct] [float] NULL,
	[OrebPct] [float] NULL,
	[DrebPct] [float] NULL,
	[Pie] [float] NULL,
	[ThreePAr] [float] NULL,
	[ORtg] [real] NULL,
	[DRtg] [real] NULL,
	[NetRtg] [real] NULL,
	[Ws] [float] NULL,
	[OWS] [float] NULL,
	[DWS] [float] NULL,
	[GmSc] [float] NULL,
	[Fic] [float] NULL,
	[AstRatio] [float] NULL,
	[ScoringEfficiency] [float] NULL,
	[Ppsa] [float] NULL,
	[HustleIndex] [bigint] NULL,
	[FoulDrawingRate] [float] NULL,
	[RfPerGame] [float] NULL,
	[ValLegaPerGame] [float] NULL,
	[PtsPer40] [float] NULL,
	[AstPer40] [float] NULL,
	[TrPer40] [float] NULL,
	[StlPer40] [float] NULL,
	[BlkPer40] [float] NULL,
	[ToPer40] [float] NULL,
	[Position] [varchar](max) NULL,
	[Age] [bigint] NULL,
	[Bpm] [float] NULL,
	[Vorp] [float] NULL,
	[Spm] [float] NULL,
	[RaptorOff] [float] NULL,
	[RaptorDef] [float] NULL,
	[RaptorTotal] [float] NULL,
	[LebronOff] [float] NULL,
	[LebronDef] [float] NULL,
	[LebronTotal] [float] NULL,
	[OBpm] [float] NULL,
	[DBpm] [float] NULL,
	[Competition] [varchar](max) NULL,
	[LeagueConfig] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStats_Player_ITA1_2024_Game]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStats_Player_ITA1_2024_Game](
	[Id] [varchar](max) NULL,
	[Sf] [varchar](max) NULL,
	[Min] [bigint] NULL,
	[Pts] [bigint] NULL,
	[2Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[2P] [float] NULL,
	[3Fgm] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[3P] [float] NULL,
	[Ftm] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Ft] [float] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Tr] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Rf] [bigint] NULL,
	[To] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Ast] [bigint] NULL,
	[Blk] [bigint] NULL,
	[ValLega] [bigint] NULL,
	[PlusMinus] [bigint] NULL,
	[Game] [bigint] NULL,
	[TeamId] [varchar](max) NULL,
	[IsHome] [bit] NULL,
	[Competition] [varchar](max) NULL,
	[PbpId] [float] NULL,
	[Timestamp] [datetime] NULL,
	[Fg2Pct] [float] NULL,
	[Fg3Pct] [float] NULL,
	[FtPct] [float] NULL,
	[TsPct] [float] NULL,
	[EfgPct] [float] NULL,
	[TovPct] [float] NULL,
	[Ftr] [float] NULL,
	[AstPct] [float] NULL,
	[StlPct] [float] NULL,
	[BlkPct] [float] NULL,
	[Ar] [float] NULL,
	[RebPct] [float] NULL,
	[OrebPct] [float] NULL,
	[DrebPct] [float] NULL,
	[Pie] [float] NULL,
	[ThreePAr] [float] NULL,
	[Ws] [float] NULL,
	[OWS] [float] NULL,
	[DWS] [float] NULL,
	[GmSc] [float] NULL,
	[Fic] [float] NULL,
	[AstRatio] [float] NULL,
	[ScoringEfficiency] [float] NULL,
	[Ppsa] [float] NULL,
	[HustleIndex] [bigint] NULL,
	[FoulDrawingRate] [float] NULL,
	[PtsPer40] [float] NULL,
	[AstPer40] [float] NULL,
	[TrPer40] [float] NULL,
	[StlPer40] [float] NULL,
	[BlkPer40] [float] NULL,
	[ToPer40] [float] NULL,
	[Position] [varchar](max) NULL,
	[Age] [bigint] NULL,
	[Bpm] [float] NULL,
	[Vorp] [float] NULL,
	[Spm] [float] NULL,
	[RaptorOff] [float] NULL,
	[RaptorDef] [float] NULL,
	[RaptorTotal] [float] NULL,
	[LebronOff] [float] NULL,
	[LebronDef] [float] NULL,
	[LebronTotal] [float] NULL,
	[UsgPct] [float] NULL,
	[TusgPct] [float] NULL,
	[ORtg] [real] NULL,
	[DRtg] [real] NULL,
	[NetRtg] [real] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStatsOnOffCourt_GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStatsOnOffCourt_GRC1_2024](
	[Player] [varchar](max) NULL,
	[Poss_On] [real] NULL,
	[PointsAllowed_On] [float] NULL,
	[Fga2Allowed_On] [bigint] NULL,
	[Fgm2Allowed_On] [bigint] NULL,
	[Fga3Allowed_On] [bigint] NULL,
	[Fgm3Allowed_On] [bigint] NULL,
	[FtaAllowed_On] [bigint] NULL,
	[FtmAllowed_On] [bigint] NULL,
	[TovForced_On] [bigint] NULL,
	[OrebAllowed_On] [bigint] NULL,
	[Poss_Off] [real] NULL,
	[PointsAllowed_Off] [float] NULL,
	[Fga2Allowed_Off] [bigint] NULL,
	[Fgm2Allowed_Off] [bigint] NULL,
	[Fga3Allowed_Off] [bigint] NULL,
	[Fgm3Allowed_Off] [bigint] NULL,
	[FtaAllowed_Off] [bigint] NULL,
	[FtmAllowed_Off] [bigint] NULL,
	[TovForced_Off] [bigint] NULL,
	[OrebAllowed_Off] [bigint] NULL,
	[DefRating_On] [float] NULL,
	[Fg2PctAllowed_On] [float] NULL,
	[Fg3PctAllowed_On] [float] NULL,
	[FtPctAllowed_On] [float] NULL,
	[ForcedTovPerPoss_On] [float] NULL,
	[OrebPerPoss_On] [float] NULL,
	[DefRating_Off] [float] NULL,
	[Fg2PctAllowed_Off] [float] NULL,
	[Fg3PctAllowed_Off] [float] NULL,
	[FtPctAllowed_Off] [float] NULL,
	[ForcedTovPerPoss_Off] [float] NULL,
	[OrebPerPoss_Off] [float] NULL,
	[DefRating_Diff] [float] NULL,
	[Fg2PctAllowed_Diff] [float] NULL,
	[Fg3PctAllowed_Diff] [float] NULL,
	[FtPctAllowed_Diff] [float] NULL,
	[ForcedTovPerPoss_Diff] [float] NULL,
	[OrebPerPoss_Diff] [float] NULL,
	[OffPts_On] [real] NULL,
	[OffPoss_On] [real] NULL,
	[OffPts_Off] [real] NULL,
	[OffPoss_Off] [real] NULL,
	[ORtg_On] [real] NULL,
	[ORtg_Off] [real] NULL,
	[ORtg_Diff] [real] NULL,
	[NetRtg_On] [float] NULL,
	[NetRtg_Off] [float] NULL,
	[NetRtg_Diff] [float] NULL,
	[Competition] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStatsOnOffCourt_ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStatsOnOffCourt_ITA1_2024](
	[Player] [varchar](max) NULL,
	[Poss_On] [real] NULL,
	[PointsAllowed_On] [float] NULL,
	[Fga2Allowed_On] [bigint] NULL,
	[Fgm2Allowed_On] [bigint] NULL,
	[Fga3Allowed_On] [bigint] NULL,
	[Fgm3Allowed_On] [bigint] NULL,
	[FtaAllowed_On] [bigint] NULL,
	[FtmAllowed_On] [bigint] NULL,
	[TovForced_On] [bigint] NULL,
	[OrebAllowed_On] [bigint] NULL,
	[Poss_Off] [real] NULL,
	[PointsAllowed_Off] [float] NULL,
	[Fga2Allowed_Off] [bigint] NULL,
	[Fgm2Allowed_Off] [bigint] NULL,
	[Fga3Allowed_Off] [bigint] NULL,
	[Fgm3Allowed_Off] [bigint] NULL,
	[FtaAllowed_Off] [bigint] NULL,
	[FtmAllowed_Off] [bigint] NULL,
	[TovForced_Off] [bigint] NULL,
	[OrebAllowed_Off] [bigint] NULL,
	[DefRating_On] [float] NULL,
	[Fg2PctAllowed_On] [float] NULL,
	[Fg3PctAllowed_On] [float] NULL,
	[FtPctAllowed_On] [float] NULL,
	[ForcedTovPerPoss_On] [float] NULL,
	[OrebPerPoss_On] [float] NULL,
	[DefRating_Off] [float] NULL,
	[Fg2PctAllowed_Off] [float] NULL,
	[Fg3PctAllowed_Off] [float] NULL,
	[FtPctAllowed_Off] [float] NULL,
	[ForcedTovPerPoss_Off] [float] NULL,
	[OrebPerPoss_Off] [float] NULL,
	[DefRating_Diff] [float] NULL,
	[Fg2PctAllowed_Diff] [float] NULL,
	[Fg3PctAllowed_Diff] [float] NULL,
	[FtPctAllowed_Diff] [float] NULL,
	[ForcedTovPerPoss_Diff] [float] NULL,
	[OrebPerPoss_Diff] [float] NULL,
	[OffPts_On] [real] NULL,
	[OffPoss_On] [real] NULL,
	[OffPts_Off] [real] NULL,
	[OffPoss_Off] [real] NULL,
	[ORtg_On] [real] NULL,
	[ORtg_Off] [real] NULL,
	[ORtg_Diff] [real] NULL,
	[NetRtg_On] [float] NULL,
	[NetRtg_Off] [float] NULL,
	[NetRtg_Diff] [float] NULL,
	[Competition] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStatsTeam_GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStatsTeam_GRC1_2024](
	[TeamId] [varchar](max) NULL,
	[2Fgm] [bigint] NULL,
	[3Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Ftm] [bigint] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Ast] [bigint] NULL,
	[To] [bigint] NULL,
	[Blk] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Pts] [bigint] NULL,
	[Min] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Opp2Fgm] [bigint] NULL,
	[Opp2Fga] [bigint] NULL,
	[Opp3Fgm] [bigint] NULL,
	[Opp3Fga] [bigint] NULL,
	[OppFtm] [bigint] NULL,
	[OppFta] [bigint] NULL,
	[OppOr] [bigint] NULL,
	[OppDr] [bigint] NULL,
	[OppTr] [bigint] NULL,
	[OppAst] [bigint] NULL,
	[OppStl] [bigint] NULL,
	[OppBlk] [bigint] NULL,
	[OppTo] [bigint] NULL,
	[OppPf] [bigint] NULL,
	[OppPts] [bigint] NULL,
	[OppMin] [bigint] NULL,
	[Poss] [float] NULL,
	[OppPoss] [float] NULL,
	[EfgPct] [float] NULL,
	[TsPct] [float] NULL,
	[AstRatio] [float] NULL,
	[ToRatio] [float] NULL,
	[StlRatio] [float] NULL,
	[BlkRatio] [float] NULL,
	[OrbPct] [float] NULL,
	[DrbPct] [float] NULL,
	[RebPct] [float] NULL,
	[Pie] [float] NULL,
	[ORtg] [float] NULL,
	[DRtg] [float] NULL,
	[NetRtg] [float] NULL,
	[Pace] [float] NULL,
	[TeamEfficiency] [float] NULL,
	[2FgmVsLgAvg] [float] NULL,
	[3FgmVsLgAvg] [float] NULL,
	[2FgaVsLgAvg] [float] NULL,
	[3FgaVsLgAvg] [float] NULL,
	[FtaVsLgAvg] [float] NULL,
	[FtmVsLgAvg] [float] NULL,
	[OrVsLgAvg] [float] NULL,
	[DrVsLgAvg] [float] NULL,
	[AstVsLgAvg] [float] NULL,
	[ToVsLgAvg] [float] NULL,
	[BlkVsLgAvg] [float] NULL,
	[StlVsLgAvg] [float] NULL,
	[PtsVsLgAvg] [float] NULL,
	[MinVsLgAvg] [float] NULL,
	[PfVsLgAvg] [float] NULL,
	[Opp2FgmVsLgAvg] [float] NULL,
	[Opp2FgaVsLgAvg] [float] NULL,
	[Opp3FgmVsLgAvg] [float] NULL,
	[Opp3FgaVsLgAvg] [float] NULL,
	[OppFtmVsLgAvg] [float] NULL,
	[OppFtaVsLgAvg] [float] NULL,
	[OppOrVsLgAvg] [float] NULL,
	[OppDrVsLgAvg] [float] NULL,
	[OppTrVsLgAvg] [float] NULL,
	[OppAstVsLgAvg] [float] NULL,
	[OppStlVsLgAvg] [float] NULL,
	[OppBlkVsLgAvg] [float] NULL,
	[OppToVsLgAvg] [float] NULL,
	[OppPfVsLgAvg] [float] NULL,
	[OppPtsVsLgAvg] [float] NULL,
	[OppMinVsLgAvg] [float] NULL,
	[PossVsLgAvg] [float] NULL,
	[OppPossVsLgAvg] [float] NULL,
	[EfgPctVsLgAvg] [float] NULL,
	[TsPctVsLgAvg] [float] NULL,
	[AstRatioVsLgAvg] [float] NULL,
	[ToRatioVsLgAvg] [float] NULL,
	[StlRatioVsLgAvg] [float] NULL,
	[BlkRatioVsLgAvg] [float] NULL,
	[OrbPctVsLgAvg] [float] NULL,
	[DrbPctVsLgAvg] [float] NULL,
	[RebPctVsLgAvg] [float] NULL,
	[PieVsLgAvg] [float] NULL,
	[ORtgVsLgAvg] [float] NULL,
	[DRtgVsLgAvg] [float] NULL,
	[NetRtgVsLgAvg] [float] NULL,
	[PaceVsLgAvg] [float] NULL,
	[TeamEfficiencyVsLgAvg] [float] NULL,
	[Competition] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[AdvancedStatsTeam_ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[AdvancedStatsTeam_ITA1_2024](
	[TeamId] [varchar](max) NULL,
	[2Fgm] [bigint] NULL,
	[3Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Ftm] [bigint] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Ast] [bigint] NULL,
	[To] [bigint] NULL,
	[Blk] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Pts] [bigint] NULL,
	[Min] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Opp2Fgm] [bigint] NULL,
	[Opp2Fga] [bigint] NULL,
	[Opp3Fgm] [bigint] NULL,
	[Opp3Fga] [bigint] NULL,
	[OppFtm] [bigint] NULL,
	[OppFta] [bigint] NULL,
	[OppOr] [bigint] NULL,
	[OppDr] [bigint] NULL,
	[OppTr] [bigint] NULL,
	[OppAst] [bigint] NULL,
	[OppStl] [bigint] NULL,
	[OppBlk] [bigint] NULL,
	[OppTo] [bigint] NULL,
	[OppPf] [bigint] NULL,
	[OppPts] [bigint] NULL,
	[OppMin] [bigint] NULL,
	[Poss] [float] NULL,
	[OppPoss] [float] NULL,
	[EfgPct] [float] NULL,
	[TsPct] [float] NULL,
	[AstRatio] [float] NULL,
	[ToRatio] [float] NULL,
	[StlRatio] [float] NULL,
	[BlkRatio] [float] NULL,
	[OrbPct] [float] NULL,
	[DrbPct] [float] NULL,
	[RebPct] [float] NULL,
	[Pie] [float] NULL,
	[ORtg] [float] NULL,
	[DRtg] [float] NULL,
	[NetRtg] [float] NULL,
	[Pace] [float] NULL,
	[TeamEfficiency] [float] NULL,
	[2FgmVsLgAvg] [float] NULL,
	[3FgmVsLgAvg] [float] NULL,
	[2FgaVsLgAvg] [float] NULL,
	[3FgaVsLgAvg] [float] NULL,
	[FtaVsLgAvg] [float] NULL,
	[FtmVsLgAvg] [float] NULL,
	[OrVsLgAvg] [float] NULL,
	[DrVsLgAvg] [float] NULL,
	[AstVsLgAvg] [float] NULL,
	[ToVsLgAvg] [float] NULL,
	[BlkVsLgAvg] [float] NULL,
	[StlVsLgAvg] [float] NULL,
	[PtsVsLgAvg] [float] NULL,
	[MinVsLgAvg] [float] NULL,
	[PfVsLgAvg] [float] NULL,
	[Opp2FgmVsLgAvg] [float] NULL,
	[Opp2FgaVsLgAvg] [float] NULL,
	[Opp3FgmVsLgAvg] [float] NULL,
	[Opp3FgaVsLgAvg] [float] NULL,
	[OppFtmVsLgAvg] [float] NULL,
	[OppFtaVsLgAvg] [float] NULL,
	[OppOrVsLgAvg] [float] NULL,
	[OppDrVsLgAvg] [float] NULL,
	[OppTrVsLgAvg] [float] NULL,
	[OppAstVsLgAvg] [float] NULL,
	[OppStlVsLgAvg] [float] NULL,
	[OppBlkVsLgAvg] [float] NULL,
	[OppToVsLgAvg] [float] NULL,
	[OppPfVsLgAvg] [float] NULL,
	[OppPtsVsLgAvg] [float] NULL,
	[OppMinVsLgAvg] [float] NULL,
	[PossVsLgAvg] [float] NULL,
	[OppPossVsLgAvg] [float] NULL,
	[EfgPctVsLgAvg] [float] NULL,
	[TsPctVsLgAvg] [float] NULL,
	[AstRatioVsLgAvg] [float] NULL,
	[ToRatioVsLgAvg] [float] NULL,
	[StlRatioVsLgAvg] [float] NULL,
	[BlkRatioVsLgAvg] [float] NULL,
	[OrbPctVsLgAvg] [float] NULL,
	[DrbPctVsLgAvg] [float] NULL,
	[RebPctVsLgAvg] [float] NULL,
	[PieVsLgAvg] [float] NULL,
	[ORtgVsLgAvg] [float] NULL,
	[DRtgVsLgAvg] [float] NULL,
	[NetRtgVsLgAvg] [float] NULL,
	[PaceVsLgAvg] [float] NULL,
	[TeamEfficiencyVsLgAvg] [float] NULL,
	[Competition] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[PlayerRoles_GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[PlayerRoles_GRC1_2024](
	[NazioneTeam] [varchar](max) NULL,
	[Competition] [varchar](max) NULL,
	[Id] [varchar](max) NULL,
	[Position] [varchar](max) NULL,
	[Min] [bigint] NULL,
	[GamesPlayed] [bigint] NULL,
	[Pts] [float] NULL,
	[Ast] [float] NULL,
	[Tr] [float] NULL,
	[RuoloOffensivo] [varchar](max) NULL,
	[RuoloDifensivo] [varchar](max) NULL,
	[RuoloCombinato] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Analisi].[PlayerRoles_ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Analisi].[PlayerRoles_ITA1_2024](
	[NazioneTeam] [varchar](max) NULL,
	[Competition] [varchar](max) NULL,
	[Id] [varchar](max) NULL,
	[Position] [varchar](max) NULL,
	[Min] [bigint] NULL,
	[GamesPlayed] [bigint] NULL,
	[Pts] [float] NULL,
	[Ast] [float] NULL,
	[Tr] [float] NULL,
	[RuoloOffensivo] [varchar](max) NULL,
	[RuoloDifensivo] [varchar](max) NULL,
	[RuoloCombinato] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Boxscore].[GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Boxscore].[GRC1_2024](
	[Id] [nvarchar](50) NULL,
	[Sf] [nvarchar](5) NULL,
	[Min] [bigint] NULL,
	[Pts] [bigint] NULL,
	[2Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[2P] [float] NULL,
	[3Fgm] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[3P] [float] NULL,
	[Ftm] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Ft] [float] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Tr] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Rf] [bigint] NULL,
	[To] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Ast] [bigint] NULL,
	[Blk] [bigint] NULL,
	[ValLega] [bigint] NULL,
	[PlusMinus] [bigint] NULL,
	[Game] [nvarchar](50) NULL,
	[TeamId] [nvarchar](50) NULL,
	[IsHome] [bit] NULL,
	[Competition] [nvarchar](10) NULL,
	[Timestamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [Boxscore].[ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Boxscore].[ITA1_2024](
	[Id] [nvarchar](50) NULL,
	[Sf] [nvarchar](5) NULL,
	[Min] [bigint] NULL,
	[Pts] [bigint] NULL,
	[2Fgm] [bigint] NULL,
	[2Fga] [bigint] NULL,
	[2P] [float] NULL,
	[3Fgm] [bigint] NULL,
	[3Fga] [bigint] NULL,
	[3P] [float] NULL,
	[Ftm] [bigint] NULL,
	[Fta] [bigint] NULL,
	[Ft] [float] NULL,
	[Or] [bigint] NULL,
	[Dr] [bigint] NULL,
	[Tr] [bigint] NULL,
	[Pf] [bigint] NULL,
	[Rf] [bigint] NULL,
	[To] [bigint] NULL,
	[Stl] [bigint] NULL,
	[Ast] [bigint] NULL,
	[Blk] [bigint] NULL,
	[ValLega] [bigint] NULL,
	[PlusMinus] [bigint] NULL,
	[Game] [bigint] NULL,
	[TeamId] [nvarchar](50) NULL,
	[IsHome] [bit] NULL,
	[Competition] [nvarchar](10) NULL,
	[PbpId] [float] NULL,
	[Timestamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [Configuration].[Championship_ids]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Configuration].[Championship_ids](
	[Anno] [varchar](20) NULL,
	[Nazione] [char](4) NULL,
	[Nome] [nvarchar](500) NULL,
	[Id] [varchar](50) NOT NULL,
	[SearchType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [Configuration].[GameProcessingStatus]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Configuration].[GameProcessingStatus](
	[Nation] [varchar](10) NOT NULL,
	[Season] [int] NOT NULL,
	[CompetitionType] [varchar](5) NOT NULL,
	[GameId] [varchar](50) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[ProcessingStarted] [datetime2](7) NULL,
	[ProcessingCompleted] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[RetryCount] [int] NULL,
	[LastUpdate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nation] ASC,
	[Season] ASC,
	[CompetitionType] ASC,
	[GameId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [Lookup].[GRC]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Lookup].[GRC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SearchKey] [nvarchar](255) NOT NULL,
	[SearchType] [nvarchar](20) NOT NULL,
	[BirthDate] [nvarchar](50) NULL,
	[ResultValue] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GRC_Search] UNIQUE NONCLUSTERED 
(
	[SearchKey] ASC,
	[SearchType] ASC,
	[BirthDate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [Pbp].[GRC1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pbp].[GRC1_2024](
	[QuarterTime] [nvarchar](20) NULL,
	[Score] [nvarchar](20) NULL,
	[TeamId] [nvarchar](50) NULL,
	[HomeClub] [bit] NULL,
	[Quarter] [bigint] NULL,
	[Player] [nvarchar](50) NULL,
	[GameCode] [nvarchar](50) NULL,
	[Competition] [nvarchar](10) NULL,
	[PlayType] [nvarchar](20) NULL,
	[AttemptAnd1] [bigint] NULL,
	[And1] [bigint] NULL,
	[HomeLineup] [nvarchar](500) NULL,
	[AwayLineup] [nvarchar](500) NULL,
	[Timestamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [Pbp].[ITA1_2024]    Data dello script 13/05/2026 10:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pbp].[ITA1_2024](
	[action_id] [bigint] NULL,
	[Player] [bigint] NULL,
	[TeamId] [nvarchar](50) NULL,
	[HomeClub] [bit] NULL,
	[in_area] [bit] NULL,
	[dunk] [bigint] NULL,
	[Quarter] [bigint] NULL,
	[order] [bigint] NULL,
	[side] [float] NULL,
	[x] [float] NULL,
	[y] [float] NULL,
	[Score] [nvarchar](20) NULL,
	[linked_action_id] [float] NULL,
	[QuarterTime] [nvarchar](20) NULL,
	[action_1_qualifier_description] [varchar](max) NULL,
	[action_2_qualifier_description] [varchar](max) NULL,
	[side_area_zone] [varchar](max) NULL,
	[side_area_code] [varchar](max) NULL,
	[GameCode] [bigint] NULL,
	[Competition] [nvarchar](10) NULL,
	[PlayType] [nvarchar](20) NULL,
	[PointsHome] [varchar](max) NULL,
	[PointsAway] [varchar](max) NULL,
	[AttemptAnd1] [bigint] NULL,
	[And1] [bigint] NULL,
	[HomeLineup] [nvarchar](500) NULL,
	[AwayLineup] [nvarchar](500) NULL,
	[Timestamp] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Configuration].[GameProcessingStatus] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [Configuration].[GameProcessingStatus] ADD  DEFAULT (getdate()) FOR [LastUpdate]
GO
ALTER TABLE [Lookup].[GRC] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
